html {
  height: 100%;
  width: 100%;
}

.card {
        margin: 0 auto; 
        float: none; 
        margin-bottom: 10px; 
}

.paragraph {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

.paragraph span { 
    background:#fff; 
    padding:0 10px; 
}

.google-logo{
  width: 5%;
  height: 5%;
}
body{
  background-color: #F3F2F0;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 150px;
}

h1 {
  text-align: center;
}

.logo{
  width: 10%;
  height: 10%;
}

.para2{
  text-align: center;
}

.black-logo{
  width:10%;
  height:10%;
  align-content: left;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center
}

.black-logo {
  width: 10%;
  height:10%;
}

.para3 {
  font-size: 13px;
}

footer{
  background-color: #ffffff
}
